.footer{
  padding-top: calc(var(--index) *3);
  padding-bottom: calc(var(--index) *3);
  background-color: #2f3e53;
}

.footer a {
  color: var(--font-white);
  font-size: 20px;
}

.footer a:hover {
  opacity: .8;
}