

/* .examples-section {
  background-color: #ebebeb;
} */

@media (max-width: 991.98) {
  .examples-slider {
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .examples-section .example-subtitles {
    display: none;
  }
}

.examples-section .before-after {
  width: 200px;
  height: auto;
  display: inline-block;
  background-image: url(/img/before-after-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fff;
  text-transform: lowercase;
}

.examples-slider .swiper-button-next, .examples-slider .swiper-button-prev {
  color: #fff;
  font-weight: 700;
  width: 40px;
  background-color: var(--footer-color);
  border-radius: 4px;
  transform: translateY(55%);
}

.examples-slider .swiper-button-next::after, .examples-slider .swiper-button-prev::after {
  font-size: calc(var(--swiper-navigation-size) * 0.6);
}

.examples-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: var(--footer-color);
}


.examples-slider .swiper-pagination-bullet-active {
  color: #000;
  background-color: var(--bg-grey)
}

.examples-slider .swiper-slide img{
  display: inline-block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
