.hero-section {
  max-width: 1600px;
  height: 450px;
}
/* 
@media (max-width: 1199.98px) {
  .hero-section {
    max-width: 1600px;
    height: 450px;
  }
} */



.hero-section .swiper-slide {
  position: relative;
}
.hero-section .swiper-slide .bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/try/desktop.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .swiper-slide .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: .4;
}

.hero-section .swiper-slide h1 {
  font-size: calc(var(--index) * 3.5);
  line-height: 1.75;
  color: var(--font-white);
  font-weight: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

.hero-section .swiper-slide p {
  color: var(--font-white);
  font-size: 22px;
}

.hero-section .swiper-slide .btn {
  font-size: 20px;
  line-height: 1.75;
  color: var(--font-white);
  background-color: var(--turquose-400);
  font-weight: normal;
  transition: background-color .2s ease-in-out ;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

.hero-section .swiper-slide .btn:hover {
  background-color: var(--turquose-600);
  outline: none;
}
.hero-section .swiper-slide .btn:active {
  background-color: var(--turquose-700);
  outline: none;
}

@media (max-width: 1199.98px) {
  .hero-section {
    max-width: 1600px;
    height: 450px;
  }
}
@media (max-width: 991.98px) {
  .hero-section {
    max-width: 1600px;
    height: 400px;
  }

}
@media (max-width: 575.98px) {

  .hero-section .swiper-slide .bg-image {
    background-image: url(../img/try/mobile.avif);
    background-size: fill;
  }

  .hero-section .swiper-slide .shadow {
    opacity: .3;
  }
}